@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');

/* Grundstil för applikationen */
.app {
  font-family: 'Roboto', sans-serif; /* Använd Roboto-typsnitt */
  text-align: center; /* Centrerar texten horisontellt */
  padding: 20px;
  transition: background-color 0.3s, color 0.3s; /* Smidig övergång för färgändringar */
  overflow: hidden;
  
  /* Flexbox-egenskaper */
  display: flex; /* Aktiverar Flexbox */
  flex-direction: column; /* Ordnar barn i en kolumn */
  justify-content: center; /* Centrerar barn vertikalt */
  align-items: center; /* Centrerar barn horisontellt */
  max-height: 100vh; /* Gör containern lika hög som skärmen */
}

/* Innehållsomslag för centrerat innehåll */
.content-wrapper {
  display: flex;                /* Aktiverar Flexbox */
  flex-direction: column;       /* Staplar barn vertikalt */
  justify-content: center;      /* Centrerar barn vertikalt */
  align-items: center;          /* Centrerar barn horisontellt */
  width: 100%; /* Full bredd */
  max-width: 50vh; /* Begränsar max bredden för innehållet */
  margin: 0 auto; /* Centrerar innehållet horisontellt */
  padding: 20px; /* Lägger till padding (valfritt) */
}

/* Stil för huvud och fotdelar */
.header, .footer {
  padding: 20px;
}

/* Responsiva anpassningar */
@media (min-width: 768px) {
  .content-wrapper {
    max-width: 60vh;  /* Ökar maxbredden för surfplattor */
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 40px; /* Lägger till extra padding på större skärmar */
  }
}
